{% extends 'base.html' %}

{% block content %}
<div class="intro">
  <h2>Welcome to the AssessMe Project ! <span class="icon-emo-happy"></span></h2>
  <p class="lead">
    If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>.
    Don't have an account? Create your<a href="{% url 'student_signup' %}">student account</a> or a <a
      href="{% url 'teacher_signup' %}">teacher account</a>.
  </p>
  <hr>
</div>
<div class="details lead">
  <h3>What's this about?</h3>
  <p>
    I'm an online quiz application. Allowing instructors to create assessmets, and hence the name `AssessMe`, and,
    consecutively,
    students take them. Do feel free to test me out.
  </p>
  <br>
  <p>Regards, <br><a href="https://marvinkweyu.thegreencodes.com/" target="_blank" rel="noopener">Marvin</a></p>
</div>

{% endblock %}